<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul>
        <li>test</li>
        <li>test2</li>
        <li>test3</li>
      </ul>
    </div>
  </nav>
</header>